html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-family: arial;
	text-align: center;
	color: #111;
	padding: 25px 10px 10px 10px;
}

h2 {
	font-family: Arial;
	background: #111;
	color: #fff;
	padding: 10px;
}

#descricao1 {
	font-family: Arial;
	font-size: 18px;
	color: #b2b2b2;
	padding: 10px 10px;
}

#carro {
	background: #111;
	width: 50%;
	height: auto;
	padding: 30px;
	margin: 20px;
	border-radius: 4px;
}

#bicicleta {
	background: #111;
	width: auto;
	height: auto;
	padding: 30px;
	margin: 20px;
	border-radius: 4px;
}
	
#destaque1 {
	color: #febe01;
}

a {
	display: inline-block;
	background: #febe01;
	color: #000;
	font-family: Arial;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
}